html, body {
	height: 100%;
}

body {
	margin: 0 auto;
	background-color: black;
	overflow: hidden;
}
.bigblock {
	height: 200px;
	width: 200px;
	margin: 100px auto;
	/* perspective: 300px; */
	text-align: center;
	position: relative;
}

.rotateblock {
 	height: 200px;
	width: 200px;
  	transform-style: preserve-3d;
/*   	transform: rotateY(-35deg); */ 
}

.side {
	height: 200px;
	width: 200px;
	margin: 0 auto;
	position: absolute;
	border: 1px solid rgba(0,255,0,0.2);
	/* backface-visibility: visible; */
}

.front {
  transform: translateZ(100px);
  }

.back {
  transform: rotateY(180deg) translateZ(100px);
  }

.left {
  transform: rotateY(-90deg) translateZ(100px); }

.right {
  transform: rotateY(90deg) translateZ(100px); }

.top {
  transform: rotateX(90deg) translateZ(100px); }

.bottom {
  transform: rotateX(-90deg) translateZ(100px); }

.smallblock {
 	height: 20px;
	width: 20px;
  	transform-style: preserve-3d;
	display: inline-block;
	position: absolute;

}

.smallside {
	height: 20px;
	width: 20px;
	margin: 0 auto;
	position: absolute;
	border: 1px solid rgba(0,255,0,0.1);
	/* backface-visibility: visible; */
}

.smallfront {
  transform: translateZ(10px);
  color: rgba(0,255,0,0.25);
  font-size: 6px;
  line-height: 20px;
  text-align: center;

  }

.smallback {
  transform: rotateY(180deg) translateZ(10px);
  }

.smallleft {
  transform: rotateY(-90deg) translateZ(10px); }

.smallright {
  transform: rotateY(90deg) translateZ(10px); }

.smalltop {
  transform: rotateX(90deg) translateZ(10px); }

.smallbottom {
  transform: rotateX(-90deg) translateZ(10px); }